<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thiwtti</title>
    <script src="jquery/dist/jquery.js" ></script>
    <link rel="stylesheet" href="css/semantic/dist/semantic.css" media="screen" title="no title">
    <script type="text/javascript" src="css/semantic/dist/semantic.js"></script>
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title">
    <link rel="stylesheet" type="text/css" href="js/slick-1.6.0/slick/slick.css"/>
    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.menu .item', function(){
          var current_active = $('.active').text()
          $(this).siblings().each(function(){
            $(this).removeClass('active')
          })
          $(this).addClass('active')
          var route = $(this).text()
          console.log("current", current_active)
          console.log(route)
          switch (route){
            case "Work":
              if(current_active != "Work" && $('.main-content.work-page').length == 0){
                $.ajax({
                  url: '/work',
                  success: function(resHTML){
                    $('.wrapper').fadeOut(function(){
                      $('.wrapper').html(resHTML);
                      $('.wrapper').fadeIn();
                    });
                  },
                  dataType: 'html',
                  method:"get"
                });
              }else if(current_active != "Work"){
                console.log("in here")
                $('.main-content').not(".work-page").fadeOut(function(){
                  $('.main-content.work-page').fadeIn()
                })
              }
              break;
            case "Blog":
              if(current_active != "Blog" && $('.main-content.blog-page').length == 0){
                console.log("here")
                $.ajax({
                  url: '/blog',
                  success: function(resHTML){
                    console.log(resHTML)
                    $('.main-content.work-page').fadeOut(function(){
                      $('.wrapper').append(resHTML);
                      $('.main-content.blog-page').hide();
                      $('.main-content.blog-page').fadeIn();
                    });
                  },
                  dataType: 'html',
                  method:"get"
                });
              } else if(current_active != "Blog") {
                $('.main-content').not(".blog-page").fadeOut(function(){
                  $('.main-content.blog-page').fadeIn()
                })
              }
              break
            default:
              console.log("nothing")
          }
        })
      })
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="ui secondary menu container">
        <h1 class="ui header">TDD</h1>
        <div class="right menu">
          <a class="active item" href="#Work">Work</a>
          <a class="item" href="#Blog">Blog</a>
          <a class="item">About Me</a>
        </div>
      </div>
      <div class="main-content work-page ui grid container">
        <div class="one wide column slider-button back-button">
          <button class="slider-button"><i class='left double angle icon huge'></i></button>
        </div>
        <div class="fourteen wide column segment center aligned">
          <div class="slick-carousel">
            <div class="column segment center aligned">
              <div class="ui image">
                <img src="images/filler_one.jpg">
                <div class="ui center aligned segment photo-label">Testing</div>
              </div>
            </div>
            <div class="column segment center aligned">
              <div class="ui image">
                <img src="images/filler_one.jpg">
                <div class="ui center aligned segment photo-label">Testing</div>
              </div>
            </div>
            <div class="column segment center aligned">
              <div class="ui image">
                <img src="images/filler_one.jpg">
                <div class="ui center aligned segment photo-label">Testing</div>
              </div>
            </div>
          </div>
        </div>
        <div class="one wide column slider-button forward-button">
          <button class="slider-button"><i class='right double angle icon huge'></i></button>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="js/slick-1.6.0/slick/slick.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.slick-carousel').slick({
        slidesToShow:1,
        nextArrow: `<button type='button' class='ui right labeled icon button slick-next'>
                      <i class='angle left icon'></i>
                      Next
                    </button>`,
        prevArrow: `<button type='button' class='ui right labeled icon button slick-next'>
                      <i class='angle right icon'></i>
                      previous
                    </button>`,
        arrows: false
      });
      $('.slider-button.forward-button').click(function(e){
        $('.slick-carousel').slick('slickNext')
      })
      $('.slider-button.back-button').click(function(e){
        $('.slick-carousel').slick('slickPrev')
      })
      $('button.slider-button').on('mousedown', function(){
        $(this).css('background', 'none')
      })
      $('button.slider-button').on('mouseup', function(){
        $(this).css('background', '#e0e1e2')
      })
    })
  </script>
</html>
