<div class="ui grid container me-page main-content" id="me-page">
  <div class="ui basic segment">
    <img class="ui big left floated image" src="images/trang_profile.jpg">
    <p class="large text">
      Hi! I hope you like my creative space which is currently in progress! My name is Trang Dinh(TDD are my initials!) and I graduated with a degree in math in 2015 and I am currently a Human Center Design Engineer-UI/UX Master student the at University of Washington. I enjoy all things creative and hope to continue to grow and affect the world with my thought and works!
    </p>
    <img class="ui big right floated image" src="images/family_two.jpg">
    <p class="large text">
      I am the only girl out of six kids(I know right) and the second youngest but i am still heavily family oriented. My parents have given a lot and I hope that I can develop and design things that will benefit older generations in the way they communicate and interact with the world.
    </p>
  </div>
  <div class="ui basic segment">
    <p class="large text">
      I am actually a quite a quiet person. I love caligraphy, lettering and making things with my hands but I also love being active especially hiking. The tiny steps to the top remind me of the constant steps I must take to become better. In my free time, I love cooking hanging, out with my friends and hanging out with my boyfriend! As a designer, I know that I am just beginning and learning things everyday and what you are seeing here is just the tip of a very big iceberg!
    </p>
  </div>
  <div class="ui basic segment grid container">
    <div class="sixteen wide column basic segment middle aligned">
      <div class="slick-carousel-profile">
        <div class="column segment center aligned">
          <div class="ui image large hoverable segment">
            <img class="ui image" src="images/profile_two.jpg">
          </div>
        </div>
        <div class="column segment center aligned">
          <div class="ui image hoverable segment">
            <img class="ui image" src="images/profile_one.jpg">
          </div>
        </div>
        <div class="column segment center aligned">
          <div class="ui image hoverable segment">
            <img class="ui image" src="images/profile_three.jpg">
          </div>
        </div>
        <div class="column segment center segment aligned">
          <div class="ui image hoverable segment">
            <img class="ui image" src="images/blog_korea.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $('.slick-carousel-profile').slick({
    slidesToShow: 4,
    nextArrow: `<button type='button' class='ui right labeled icon button slick-next'>
                  <i class='angle left icon'></i>
                  Next
                </button>`,
    prevArrow: `<button type='button' class='ui right labeled icon button slick-next'>
                  <i class='angle right icon'></i>
                  previous
                </button>`,
    arrows: false
  });
})
</script>
