<div class="ui grid container">
  <div class="one wide column slider-button">
    <button class="slider-button"><i class='left double angle icon huge'></i></button>
  </div>
  <div class="fourteen wide column segment center aligned">
    <div class="slick-carousel">
      <div class="column segment center aligned">
        <div class="ui image">
          <img src="images/filler_one.jpg">
          <div class="ui center aligned segment photo-label">Testing</div>
        </div>
      </div>
      <div class="column segment center aligned">
        <div class="ui image massive">
          <img src="images/filler_one.jpg">
          <div class="ui center aligned segment photo-label">Testing</div>
        </div>
      </div>
      <div class="column segment center aligned">
        <div class="ui image massive">
          <img src="images/filler_one.jpg">
          <div class="ui center aligned segment photo-label">Testing</div>
        </div>
      </div>
    </div>
  </div>
  <div class="one wide column slider-button">
    <button class="slider-button"><i class='right double angle icon huge'></i></button>
  </div>
</div>
