.ui.center.aligned.segment {
  border: none;
  box-shadow: none;
}
.wrapper {
  padding-top: 50px;
}
div.right.menu a.active.item {
  border:none !important;
  background:none !important;
  border-bottom: 1px solid black !important;
  text-emphasis: bold !important;
}
.photo-label {
  margin-top: 0px !important;
  padding-top: 5px !important;
}
.slider-button {
  margin-top: 7% !important;
  cursor: pointer;
}
button.slider-button {
  border:none !important;
  outline:0;
  background:none;
  border-radius: 10px;
  background: #e0e1e2;
}
button.slider-button:hover{
  background: white;
}
.main-content {
  margin-top: 5% !important;
}
.main-blog-container {
  border:none !important;
  box-shadow: none !important;
}
.zero-bot-margin {
  margin-bottom: 0px !important;
}
.ui.fixed.sticky, .top-margin{
  margin-top:2.5% !important;
}
.hoverable:hover {
  opacity: .8;
  cursor: pointer;
}
/* the slides */
.slick-slide {
margin: 0 15px;
}
/* the parent */
.slick-list {
margin: 0 -15px;
}
